.root {
    -fx-padding: 20;
    -fx-background-color: #f0f0f0;
    -fx-font-family: Tahoma;
}

/* Header */
.header-label{
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(gaussian, black, 2, 1, 0, 0);
}

/* Password length title */
.password-length-title{
    -fx-font-size: 20px;
    -fx-font-weight: bolder;
    -fx-pref-width: 200px;
}

/* Password length value */
.password-length{
    -fx-font-size: 16px;
    -fx-pref-width: 80px;
    -fx-padding: 10px;
    -fx-background-color: #fff;
    -fx-border-color: #000000;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-alignment: center;
}

/* Password chars */
.checkbox-text{
    -fx-pref-width: 150px;
    -fx-pref-height: 30px;
    -fx-alignment: center;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

/* Generate password */
.generate-button{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-background-color: #048504;
    -fx-background-radius: 9px;
    -fx-border-color: #000000;
    -fx-border-radius: 5px;
}

/* Password output */
.password-output{
    -fx-font-size: 16px;
    -fx-pref-height: 47px;
    -fx-pref-width: 360px;
    -fx-padding: 10px;
    -fx-background-color: #fff;
    -fx-border-color: #000000;
    -fx-border-radius: 5px 0 0 5px;
    -fx-border-style: solid hidden solid solid;
}

/* Copy password button */
.copy-button{
    -fx-pref-height: 47px;
    -fx-pref-width: 47px;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-background-color: #ff5900;
    -fx-background-radius: 0 9px 9px 0;
    -fx-border-color: #000000;
    -fx-border-radius: 0 5px 5px 0;
}

/* Save password button */
.save-password-button{
    -fx-pref-height: 40px;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-background-color: #0077FFBC;
    -fx-background-radius: 9px 0 0 9px;
    -fx-border-style: solid hidden solid solid;
    -fx-border-color: #000000;
    -fx-border-radius: 6px 0 0 6px;
}

/* Open password window button */
.open-saved-passwords-button{
    -fx-pref-height: 40px;
    -fx-background-color: rgba(255, 255, 255, 0.74);
    -fx-background-radius: 0 9px 9px 0;
    -fx-border-color: #000000;
    -fx-border-radius: 0 5px 5px 0;
}

/* Settings button */
.settings-button{
    -fx-pref-height: 40px;
    -fx-pref-width: 40px;
    -fx-background-color: #ffffff;
    -fx-background-radius: 9px;
    -fx-border-color: #000000;
    -fx-border-radius: 5px;
}

/* Help button */
.help-button{
    -fx-pref-height: 40px;
    -fx-pref-width: 40px;
    -fx-background-color: #ffffff;
    -fx-background-radius: 9px;
    -fx-border-color: #000000;
    -fx-border-radius: 5px;
}